__pycache__/
*.pyc
instance/
.env
credentials.json
client_secret.json
token.json
*.db
seed.py
seed_parceiros
app/static/uploads/logos/*
!app/static/uploads/logos/.gitkeep
app/static/uploads/parceiros/*
!app/static/uploads/parceiros/.gitkeep